<ng-container *ngIf="(user$ | async)">
  <header class="navbar navbar-light navbar-static-top bd-navbar" role="banner">
    <div class="clearfix">
      <button class="navbar-toggler pull-xs-right hidden-sm-up" type="button" data-toggle="collapse" data-target="#bd-main-nav">
            &#9776;
          </button>
      <a class="navbar-brand hidden-sm-up" linkTo="/">Sample</a>
    </div>
    <div class="nabvar-collapse collapse navbar-toggleable-xs" id="bd-main-nav">
      <nav class="nav navbar-nav">
        <a class="nav-item nav-link" linkTo="/notes">Notes</a>
        <a class="nav-item nav-link" linkTo="/note">Note</a>
        <a class="nav-item nav-link" linkTo="/profile">Profile</a>
        <a class="nav-item nav-link" linkTo="#" (click)="signOut()">Sign Out</a>
      </nav>
    </div>
  </header>
</ng-container>

<ng-container *ngIf="(user$ | async)">
  <!-- <button type="button" class="btn btn-primary-outline" (click)="writeUserData()">Write User Data</button> -->
  <route-view></route-view>
  <hr />
  <footer>
    <div>UserId: {{userId}}, UserName: {{userName}}</div>
    <div><img [src]="photoURL" class="img-circle" width=80 height=80 alt="photo"></div>
  </footer>
</ng-container>

<ng-container *ngIf="(status$ | async) === 'signout'">
  <h3>firebase-sample</h3>
  <button type="button" class="btn btn-primary-outline" (click)="firebaseUiAuth()">Sign In</button>
</ng-container>
<ng-container *ngIf="!(status$ | async)">
  <div>Loading...</div>
</ng-container>